<footer class ="footer">
  <small>
    The <a href="https://github.com/woobaik">Jbaik's Github</a>
    by <a href="https://www.facebook.com/joungwoo.baik">Jbaik's Facebook</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "ABOUT", about_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">NEWS</a></li>
    </ul>
  </nav>


</footer>
