<div class="container">
  <footer class="footer">
    <small>
    capyright &copy <a href="https://google.com"> JBaik</a>
    by <a href="#">Joungwoo Baik</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", pages_about_path%></li>
    </ul>
  </nav>

  </footer>
</div>
